<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ping Stats</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700"
          rel="stylesheet" type="text/css">
    <style>
        body {
            color: #212121;

            font-family: "Raleway", sans-serif;
            background-color: #FEFEFE;
        }
        
        thead {
            position: sticky;
            top: 0;
            background-color: white;
        }

        th {
            white-space: nowrap;
        }

        table, td, tr {
            border-spacing: 0;
        }

        th, td {
            padding: 6px;
        }

        tbody > tr:nth-child(odd) {
            background-color: #EAEAEA;
        }

        tbody > tr:nth-child(1) {
            background-color: gold;
        }

        tbody > tr:nth-child(2) {
            background-color: silver;
        }

        tbody > tr:nth-child(3) {
            background-color: #CD7F32;
        }
    </style>
</head>
<body>
    {% if disclaimer %}{{ disclaimer }}{% endif %}
    <table>
        <thead>
            <tr>
                <th rowspan="2">#</th>
                <th rowspan="2">Ping server</th>
                <th rowspan="2">Median</th>
                <th rowspan="2">Geom. mean</th>
                <th rowspan="2">Mean</th>
                <th rowspan="2">N</th>
                <th colspan="{{ pongservers|length }}">Pong server (mean)</th>
            </tr>
            <tr>
                {% for server in pongservers %}
                    <th>{{ server }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for server, ping_server_data in pings.items() %}
                <tr>
                    <th>{{ ping_server_data.n }}</th>
                    <th>{{ server }}</th>
                    <td>{{ prettify_diff(ping_server_data.median) }}</td>
                    <td>{{ prettify_diff(ping_server_data.gmean) }}</td>
                    <td>{{ prettify_diff(ping_server_data.mean) }}</td>
                    <td>{{ ping_server_data.pings|length }}</td>
                    {% for pongserver in pongservers %}
                        <td>
                            {% if pongserver in ping_server_data.pongs %}
                                {{ prettify_diff(ping_server_data.pongs[pongserver].mean) }}
                                <sup>{{ ping_server_data.pongs[pongserver].diffs|length }}</sup>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <pre><code>{{ raw }}</code></pre>
</body>
</html>
